body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

/*WebStudio*/
.logo {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}
.text-blue {
  color: #2196f3;
}

/*Menu*/
.menu-nav a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.menu-nav {
  list-style-type: none;
}

/*Kontakt w header*/
.menu-contact a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu-contact {
  list-style-type: none;
}

/*Linki i Przyciski*/
a {
  text-decoration: none;
  color: #212121;
}
a:hover,
a:focus {
  color: #2196f3;
}
button {
  cursor: pointer;
}
.all-button:hover,
.all-button:focus {
  color: #2196f3;
}

/*footer*/
.footer-box {
  background-color: #2f303a;
}
.footer-box a {
  color: #ffffff;
}
.footer-box a:hover,
.footer-box a:focus {
  color: #2196f3;
}
.footer-address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  list-style-type: none;
}
.footer-contact a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-contact {
  list-style-type: none;
}

/*---Agencja---*/
/* EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU */
.first-page {
  background-color: #2f303a;
}
h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.first-page .all-button {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}
.first-page .all-button:hover,
.first-page .all-button:focus {
  color: #212121;
}

/*nasze atuty*/
.feature-box {
  list-style-type: none;
}
.text-feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-feature-under {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/*Czym sie zajmujemy*/
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  list-style-type: none;
}
.job-box ul {
  list-style-type: none;
}

/*Nasz zespół*/
.team-box {
  background-color: #f5f4fa;
}
.team-box ul {
  list-style-type: none;
}
h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.job-name{
  font-size: 16px;
  line-height:1.2;
  letter-spacing: 0.03em;
  color: #757575
}
